{% extends "layoutchat.html" %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container p-3 overflow-y-auto">
        <div class="flex items-center justify-between mb-4">
            {% if student.first_name %}
                <h1 class="text-2xl font-bold ml-4">{{ student }}</h1>
            {% else %}
                <h1 class="text-2xl font-bold ml-4">{{ student.student_user }}</h1>

            {% endif %}
            <a href="{% url 'chat-list' %}" class="text-orange-500 border border-orange-500 px-4 py-1 rounded hover:bg-orange-500 hover:text-white mr-4">ย้อนกลับ</a>
        </div>

        <section class="msger bg-white p-6 rounded-lg shadow-lg">
            <main class="msger-chat">
        
            
            </main>
            <!-- Input field -->
            <div class="msger-inputarea rounded-2xl">            
                <input type="text" id="message-input" class="msger-input rounded-lg" placeholder="Enter your message...">
                <button type="button" id="send-button" class="msger-send-btn p-1 text-center rounded-lg"><svg class="h-10 w-10 text-white"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="22" y1="2" x2="11" y2="13" />  <polygon points="22 2 15 22 11 13 2 9 22 2" /></svg>
                </div>
            

        </section>
    </div>
{% endblock %}

{% block script %}
    <script> 
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

    <script src="{% static 'scripts/chat-student.js' %}"></script>
    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  
{% endblock %}
</body>
</html>