{% load static %}
{% load static tailwind_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signin</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% tailwind_css %}
</head>
<body>
    
    <!-- Logo -->
    <div class="absolute top-10 left-10 flex items-center space-x-2">
        <img src="{% static 'image/logo.png' %}" alt="Logo" class="h-12 w-12"> 
        <span class="font-bold text-white text-xl">MYKMITL_PLANNER</span>                
    </div>


    <div class="flex justify-center items-center mt-4">
        {% if messages %}
            <div id="message-box" class="fixed top-5 z-50 bg-white shadow-lg rounded-lg p-4 text-center transition-opacity duration-1000 inline-block max-w-full">
                {% for message in messages %}
                    <div class="relative flex items-center justify-center space-x-2 {% if message.tags == 'error' %} text-red-500 {% elif message.tags == 'success' %} text-green-500 {% endif %}">
                        <div class="text-sm font-medium">{{ message }}</div>
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            {% if message.tags == 'error' %}
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            {% elif message.tags == 'success' %}
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            {% endif %}
                        </svg>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Form Container -->
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-center text-2xl font-bold tracking-tight text-gray-900">Hi, Welcome Back! 👋</h2>

            <!-- Form Sign in ของ Allauth -->
            <form class="space-y-6 mt-6" action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}

                <!-- Email Field -->
                <div class="mt-6">
                    <label for="login" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
                    <div class="relative">
                        <!-- ไอคอน email ด้านซ้าย -->
                            <span class="absolute inset-y-0 left-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"/>
                                    <rect x="3" y="5" width="18" height="14" rx="2"/>
                                    <polyline points="3 7 12 13 21 7"/>
                                </svg>
                            </span>
                            {{ form.login|add_class:"block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-orange-500 focus:border-orange-500 sm:text-sm" }}
                    </div>
                    <!-- แสดงข้อผิดพลาด ถ้ามี -->
                </div>

                <!-- Password Field -->
                <div class="mt-6">
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Password</label>
                        <div class="text-sm">
                            <a href="{% url 'account_forgot_password' %}" class="font-semibold text-orange-600 hover:text-orange-500">Forgot password?</a>
                        </div>                    
                    </div>
                    <div class="relative">
                        <!-- ไอคอน password ด้านซ้าย -->
                            <span class="absolute inset-y-0 left-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="5" y="11" width="14" height="10" rx="2"/>
                                    <circle cx="12" cy="16" r="1"/>
                                    <path d="M8 11v-4a4 4 0 0 1 8 0v4"/>
                                </svg>
                            </span>
                            {{ form.password|add_class:"block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-orange-500 focus:border-orange-500 sm:text-sm" }}
                    </div>
    

                    

                </div>
                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-orange-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">
                        Sign In
                    </button>
                </div>
            </form>           

            <!-- Link to Sign Up page -->
            <p class="mt-6 text-center text-sm text-gray-500">
                Don't have an account? <a href="{% url 'account_signup' %}" class="font-semibold text-orange-600 hover:text-orange-500">Sign up</a>
            </p>
        </div>
    </div>

    <script src="{% static 'script/login.js' %}"></script>

</body>
</html>
