{% extends 'layout.html' %}

{% block title %}
    Home - My Website
{% endblock %}

{% block content %}
    <body class="bg-gray-50 font-serif leading-normal tracking-normal">
        <div class="container mx-auto">
            <section class="flex items-center justify-center h-screen">
                <div class="text-center">
                    <h1 class="text-5xl">{{ student }}</h1>
                    <p class="text-3xl mt-4">{{ student.major }}</p> 
                </div>
            </section>
        </div>
    </body>
{% endblock %}


	
</html>
