

#calendar-container {
    display: flex;
    transition: all 0.3s ease;
}

#calendar-wrapper {
    width: 100%; /* Calendar takes full width initially */
    transition: all 0.3s ease;
}

#calendar-wrapper.reduced {
    width: 70%; /* Reduce to 75% when form is shown */
}

#create-event {
    width: 0;
    transition: width 0.3s ease;
}

#create-event.open {
    width: 30%; /* Show sidebar when open */
}

.flex {
    display: flex;
    align-items: center;
}

#close-form-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

#close-form-btn:hover {
    transform: scale(1.1);
}

.fc-button {
    margin: 0 2px !important;
    border-radius: 12px !important;        
    background-color: #ffffff !important; 
    color: #000000 !important;          
    border: none !important;
    box-shadow: 0 2px 2px rgba(62, 62, 62, 0.15); 
  }


  /* ปุ่มที่ถูกเลือก (active) */
  .fc-button-active {
    background-color: #ffffff !important; 
    color: white !important;               
  }
  
  /* ปุ่มเมื่อ hover */
  .fc-button:hover {
    background-color: #ffffff !important; 
  }

  

.fc-center h2{
    font-size:x-large;
}
