

#calendar-container {
    display: flex;
    transition: all 0.3s ease;
}

#calendar-wrapper {
    width: 100%; /* Calendar takes full width initially */
    transition: all 0.3s ease;
}

#calendar-wrapper.reduced {
    width: 70%; /* Reduce to 75% when form is shown */
}

#create-event {
    width: 0;
    transition: width 0.3s ease;
}

#create-event.open {
    width: 30%; /* Show sidebar when open */
}

.flex {
    display: flex;
    align-items: center;
}

#close-form-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

#close-form-btn:hover {
    transform: scale(1.1);
}

