@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: #ff7626; }
        .cta-btn { color: #ff7626; }
        .upgrade-btn { background: #e65705; }
        .upgrade-btn:hover { background: #fd5d00; }
        .active-nav-link { background: #e65705; }
        .nav-item:hover { background: #e65705; }
        .account-link:hover { background: #ff7626; }
.fc-event {
    font-size: 0.85rem;
    color: black !important; /* สีฟอนต์เป็นสีดำ */
}
.sidebar {
    width: 300px;
    background-color: #f9fafb;
    padding: 20px;
    border-left: 1px solid #e5e7eb;
}



#calendar-container {
    display: flex;
    transition: all 0.3s ease;
}

#calendar-wrapper {
    width: 100%; 
    transition: all 0.3s ease;
}

#calendar-wrapper.reduced {
    width: 70%; 
}

#create-event {
    width: 0;
    transition: width 0.3s ease;
}

#create-event.open {
    width: 30%; 
}

.flex {
    display: flex;
    align-items: center;
}

#close-form-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

#close-form-btn:hover {
    transform: scale(1.1);
}

.fc-button {
    margin: 0 2px !important;
    border-radius: 12px !important;        
    background-color: #ffffff !important; 
    color: #000000 !important;          
    border: none !important;
    box-shadow: 0 2px 2px rgba(62, 62, 62, 0.15); 
  }


  /* ปุ่มที่ถูกเลือก (active) */
  .fc-button-active {
    background-color: #ffffff !important; 
    color: white !important;               
  }
  
  /* ปุ่มเมื่อ hover */
  .fc-button:hover {
    background-color: #ffffff !important; 
  }

  

.fc-center h2{
    font-size:x-large;
}
