{% extends "layoutchat.html" %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <section class="msger bg-white p-6 rounded-lg shadow-lg">
        <main class="msger-chat">
     
          
        </main>
        <!-- Input field -->
        <div class="msger-inputarea rounded-2xl">            
            <input type="text" id="message-input" class="msger-input rounded-lg" placeholder="Enter your message...">
            <button type="button" id="send-button" class="msger-send-btn rounded-lg">Send</button>
        </div>
        

    </section>
{% endblock %}

{% block script %}
    <script> 
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const userRole = "{{ user_role|escapejs }}";  // ส่งค่า user_role มายังตัวแปร JavaScript
        const username = "{{ sender|escapejs }}"
    </script>
    <script src="{% static 'scripts/chat.js' %}"></script>
    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  
{% endblock %}
</body>
</html>