{% extends "facilities/layoutFaci.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Facilities Management{% endblock %}


{% block content %}
    <div class="container mx-auto max-w-7xl p-6 overflow-y-auto">
        <!-- Header -->
        <div class="flex items-center justify-between mb-6">
            <h1 class="text-3xl font-bold">Facilities Management</h1>
            {% if perms.planner.add_facility %}
            <button id="addFacilityBtn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                <i class="fas fa-plus mr-2"></i> Add New Facility
            </button>
            {% endif %}
        </div>

        <!-- Facilities Table -->
        <div class="bg-white shadow rounded-lg overflow-x-auto">
            <table class="min-w-full table-auto">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Facility Name</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Location Name</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Open Time</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Close Time</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Status</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Actions</th>
                    </tr>
                </thead>
                <tbody id="facilityTable" class="bg-white divide-y divide-gray-200">
                    <!-- Facility Row 1 -->
                    {% for facility in facilities %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">{{ facility.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ facility.location }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ facility.opening|time:"H:i A" }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ facility.closing|time:"H:i A" }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full 
                                {% if facility.status == 'opening' %}
                                    bg-green-100 text-green-800
                                {% elif facility.status == 'closing' %}
                                    bg-red-100 text-red-800
                                {% endif %}
                            ">
                                {{ facility.status|capfirst }}
                            </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {% if perms.planner.change_facility %}
                            <button id="editFacilityBtn" type='button' class="edit-btn text-white bg-blue-500 px-4 py-2 rounded hover:bg-blue-700" data-id="{{ facility.id }}">
                                Edit
                            </button>
                            {% endif %}
                            {% if perms.planner.delete_facility %}
                            <button onclick="deleteFacility({{ facility.id }})" class="delete-btn text-white bg-red-500 px-2 py-2 rounded hover:bg-red-700">
                                Delete
                            </button>
                            {% endif %}
                            {% if perms.planner.view_facility and user.student%}
                            <button id="viewFacilityBtn" class="view-btn text-white bg-blue-500 px-2 py-2 rounded hover:bg-blue-700" data-id="{{ facility.id }}">
                                View
                            </button>
                            {% endif %}
                            {% csrf_token %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="px-6 py-4 text-center">No facilities available.</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <!-- Add -->
    <div id="facilityModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
        <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
            <h2 class="text-2xl font-bold mb-4">Facility</h2>
            <form id="facilityForm" method="POST" action="">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="facilityName" class="block text-gray-700">Facility Name</label>
                    {{ form.name|add_class:"w-full p-2 border border-gray-300 rounded-lg"}}
                </div>

                <div class="mb-4">
                    <label for="facilityName" class="block text-gray-700">location Name</label>
                    {{ form.location|add_class:"w-full p-2 border border-gray-300 rounded-lg"}}
                </div>

                <div class="mb-4">
                    <label for="facilityName" class="block text-gray-700">Description</label>
                    {{ form.description }}
                </div>

                <div class="flex space-x-4 mb-4">
                    <div class="w-1/2">
                        <label for="openTime" class="block text-gray-700">Open Time</label>
                        {{ form.opening|add_class:"w-full p-2 border border-gray-300 rounded-lg"}}
                    </div>
                    <div class="w-1/2">
                        <label for="closeTime" class="block text-gray-700">Close Time</label>
                        {{ form.closing|add_class:"w-full p-2 border border-gray-300 rounded-lg"}}
                    </div>
                </div>

                <div class="flex space-x-4 mb-4">
                    <div class="w-1/2">
                        <label for="status" class="block text-gray-700">Facility Status</label>
                        {{ form.status|add_class:"status-dropdown p-2 border border-gray-300 rounded-lg w-full" }}
                    </div>
                    <div class="w-1/2">
                        <label for="bookingStatus" class="block text-gray-700">Booking Status</label>
                        {{ form.booking_status|add_class:"status-dropdown p-2 border border-gray-300 rounded-lg w-full"}}
                    </div>
                </div>

                <div class="mb-4">
                    <label for="facilityName" class="block text-gray-700">Capacity</label>
                    {{ form.capacity|add_class:"w-full p-2 border border-gray-300 rounded-lg"}}
                </div>

                <div class="flex justify-end">
                    <button type="button" class="cancel-btn bg-red-500 text-white px-4 py-2 rounded mr-2">Cancel</button>
                    <button type="submit" class="save-btn bg-blue-500 text-white px-4 py-2 rounded">Save</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit -->
    <div id="editfacilityModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
        <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
            <h2 class="text-2xl font-bold mb-4">Facility</h2>
            <form id="editfacilityForm" method="POST">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="facilityName" class="block text-gray-700">Facility Name</label>
                    {{ form.name|add_class:"w-full p-2 border border-gray-300 rounded-lg" |attr:"id:facilityName"}}
                </div>

                <div class="mb-4">
                    <label for="facilityName" class="block text-gray-700">location Name</label>
                    {{ form.location|add_class:"w-full p-2 border border-gray-300 rounded-lg" |attr:"id:locationName"}}
                </div>

                <div class="mb-4">
                    <label for="facilityName" class="block text-gray-700">Description</label>
                    {{ form.description |attr:"id:facilityDescription"}}
                </div>

                <div class="flex space-x-4 mb-4">
                    <div class="w-1/2">
                        <label for="openTime" class="block text-gray-700">Open Time</label>
                        {{ form.opening|add_class:"w-full p-2 border border-gray-300 rounded-lg" |attr:"id:openTime"}}
                    </div>
                    <div class="w-1/2">
                        <label for="closeTime" class="block text-gray-700">Close Time</label>
                        {{ form.closing|add_class:"w-full p-2 border border-gray-300 rounded-lg" |attr:"id:closeTime"}}
                    </div>
                </div>

                <div class="flex space-x-4 mb-4">
                    <div class="w-1/2">
                        <label for="status" class="block text-gray-700">Facility Status</label>
                        {{ form.status|add_class:"status-dropdown p-2 border border-gray-300 rounded-lg w-full" |attr:"id:status"}}
                    </div>
                    <div class="w-1/2">
                        <label for="bookingStatus" class="block text-gray-700">Booking Status</label>
                        {{ form.booking_status|add_class:"status-dropdown p-2 border border-gray-300 rounded-lg w-full" |attr:"id:bookingStatus"}}
                    </div>
                </div>

                <div class="mb-4">
                    <label for="facilityName" class="block text-gray-700">Capacity</label>
                    {{ form.capacity|add_class:"w-full p-2 border border-gray-300 rounded-lg" |attr:"id:capacity"}}
                </div>

                <div class="flex justify-end">
                    <button type="button" class="editcancel-btn bg-red-500 text-white px-4 py-2 rounded mr-2">Cancel</button>
                    <button type="submit" class="save-btn bg-blue-500 text-white px-4 py-2 rounded">Save</button>
                </div>
            </form>
        </div>
    </div>

    <!-- View -->
    <div id="viewfacilityModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
        <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
            <h2 class="text-2xl font-bold mb-4">Facility</h2>
    
            <div class="mb-4">
                <label for="facilityName" class="block text-gray-700">Facility Name</label>
                <p id="facilityNameView"></p>
            </div>
    
            <div class="mb-4">
                <label for="locationName" class="block text-gray-700">Location Name</label>
                <p id="locationNameView"></p>
            </div>
    
            <div class="mb-4">
                <label for="facilityDescription" class="block text-gray-700">Description</label>
                <p id="facilityDescriptionView"></p>
            </div>
    
            <div class="flex space-x-4 mb-4">
                <div class="w-1/2">
                    <label for="openTime" class="block text-gray-700">Open Time</label>
                    <p id="openTimeView"></p>
                </div>
                <div class="w-1/2">
                    <label for="closeTime" class="block text-gray-700">Close Time</label>
                    <p id="closeTimeView"></p>
                </div>
            </div>
    
            <div class="flex space-x-4 mb-4">
                <div class="w-1/2">
                    <label for="status" class="block text-gray-700">Facility Status</label>
                    <p id="statusView"></p>
                </div>
                <div class="w-1/2">
                    <label for="bookingStatus" class="block text-gray-700">Booking Status</label>
                    <p id="bookingStatusView"></p>
                </div>
            </div>
    
            <div class="mb-4">
                <label for="capacity" class="block text-gray-700">Capacity</label>
                <p id="capacityView"></p>
            </div>
    
            <div class="flex justify-end">
                <button type="button" class="close-btn bg-red-500 text-white px-4 py-2 rounded mr-2">Close</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}

    <script type="text/javascript">
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="{% static 'scripts/facility.js' %}"></script>

{%endblock%}